<nav class="navbar navbar-expand-lg border-bottom navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <meta name="hosting-dcv" content="ae451a21e81f278be33e681a2f86607d-4470974638b2846c00613b9b4def44ea">
        <a class="navbar-brand js-scroll-trigger" routerLink="/">
            <img class="logo-img" src="assets/img/hailer-logo.png" alt="">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" routerLink="/home">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" routerLink="/register">REGISTER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" routerLink="/login">LOGIN</a>
                </li>
                <li class="nav-item">
                    <button type="submit" class="btn btn-primary navy-btn" routerLink="/dashboard">DASHBOARD</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div style="padding-top: 60px">
    <section id="intro">
        <div class="intro-text">
            <h2>Welcome to AORTA</h2>
            <p>Digital transformation specialists</p>
            <a routerLink="/dashboard" class="btn-get-started scrollto">Get Started</a>
        </div>
    </section>
    <!-- <section id="about" class="section-bg">
        <div class="container-fluid">
            <div class="section-header">
                <h3 class="section-title">About Us</h3>
                <span class="section-divider"></span>
                <p class="section-description">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque<br>
                </p>
            </div>
            <div class="row">
                <div class="col-lg-6 about-img wow fadeInLeft">
                    <img src="assets/img/about-img.jpg" alt="">
                </div>
                <div class="col-lg-6 content wow fadeInRight">
                    <h2>Lorem ipsum dolor sit amet</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor inci
                    </p>

                    <p>
                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                    </p>
                </div>
            </div>
        </div>
    </section> -->
</div>