<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 m-auto">
                <h3 class="multisteps-form__title hailer-title">{{record.id}}</h3>
            </div>
            <div class="col-md-12">
                <div class="alert alert-danger" *ngIf="errorMessage">
                    {{errorMessage}}
                </div>
                <div class="card">
                    <div class="container" style="padding-top: 20px; padding-bottom: 10px;">
                        <table datatable class="table table-hover" id="table_id">
                            <tbody>
                                <tr>
                                    <td>ID</td>
                                    <td>{{record.id}}</td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td>{{record.status}}</td>
                                </tr>
                                <tr>
                                    <td>Timestatmp</td>
                                    <td>{{record.timestamp}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>{{record.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>